body {
  margin: 0;
}

.gregContainer {
  width: 50%;
  margin-left: 25%;
}

.item {
  text-align: center;
  min-width: 15%;
  border-radius: 10px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
  display: inline-block;
  float: left;
}

.onDb {
  padding-top: 200px;
}

h1 {
  padding-top: 25px;
}

.button-link {
    color: white;
}

.button-link:visited {
  text-decoration: none;
}

.sauvegarde {
  padding-top: 270px;
}
